h2= "List of Existing Students"
hr/

table
	tr
		td
			strong Roll No.
		td
			strong Name	
		td
			strong Maths
		td
			strong Science
		td
			strong English
		td
			strong Social Sciences
		td
			strong Total
		td
			strong Percentage
		td
			strong Options

	each student in students
		tr 
			td.bold= student.roll_number
			td.bold= student.student_name
			td= student.maths
			td= student.science
			td= student.english
			td= student.social_sciences
			td= student.total
			td= student.percentage + "%"
			td
				a(href="/student/" + student.roll_number) Edit
				&nbsp;|
				a(href="/student/delete/" + student.roll_number) Delete
				&nbsp;|
				a(href="/student/email" + student.roll_number) Email